## Class 006 Tables tested

In [ ]:
from datascience import *

# import for plotting
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
# Fix for datascience plots
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

### Create a first datascience table object from an array
As an example we can create a table directly from data inserted into an arr

In [ ]:
T=Table().with_columns('Tornados',make_array(0,0,0,1,0,0,0,1,5,1,0,0))

In [ ]:
make_array(0,0,0,1,0,0,0,1,5,1,0,0)

In [ ]:
import numpy as np
T=T.with_columns('Month',np.arange(1,13,1))

In [ ]:
T

In [ ]:
import numpy as np
T=T.with_columns('Month',np.arange(1,13))

In [ ]:
T.sort(0,descending=True)

In [ ]:
T=T.with_columns("Odd",T.column(1)%2).where("Odd",0)
T

### Census data example

In [ ]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/asrh/nc-est2020-agesex-res.csv'


full_census_table = Table().read_table(data)
full_census_table

In [ ]:
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2020')
partial_census_table

In [ ]:
type(3*partial_census_table.column("AGE"))

In [ ]:
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2020', '2020').relabeled('SEX','GENDER')
us_pop

In [ ]:
type(us_pop)

In [ ]:
us_pop.where('AGE',81)

In [ ]:
us_pop.where('AGE',70)

In [ ]:
us_pop.where('GENDER',0).select('AGE','2010','2020').where('AGE',are.below(100)).plot('AGE')

In [ ]:
us_pop.where('GENDER',0).select('AGE','2010','2020').where('AGE',are.below(100))

## Philadelphia COVID Tests by ZIP (CSV)
[Philly Open Data](https://www.opendataphilly.org/dataset/covid-cases/resource/d4d1e48a-d401-405c-972b-c45292c3d4f5?inner_span=True)

In [ ]:
PHLcovid ="https://phl.carto.com/api/v2/sql?q=SELECT+*+FROM+covid_cases_by_zip&filename=covid_cases_by_zip&format=csv&skipfields=cartodb_id"

Cdata = Table().read_table(PHLcovid)
Cdata.where('covid_status','POS').sort('count',descending=True)

In [ ]:
Cdata.where('covid_status','POS').sort('count',descending=True).hist('count')

In [ ]:
Cdata.where('covid_status','NEG').sort('count',descending=True).where('count',are.below(200000)).hist('count')