## Olympics Data mini-project
Temple Elements of Data Science
In this mini-project you will draw on your new found skills from Module 1 of the course, Have Fun!
The description of the mini-project and it's goals is given [here](https://sites.temple.edu/eds8/files/2022/09/Olympic_Lab_Mini_project.pdf)

In [ ]:
# Enter your name as a string
name = ...

In [ ]:
# Extra Python functionality to import
from datascience import *  # datascience Table 

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

### Data Sets
Athletes: Olympic_Data/athlete_events.csv
Source: Kaggle https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

In [ ]:
datafile = "Olympic_Data/winter_athletes.csv"
athletes = Table.read_table(datafile).sort("Year",descending=True).where("Season","Winter")
athletes

## Mini-Project
Now develop your project to address goals given in the [linked document](https://sites.temple.edu/eds8/files/2022/09/Olympic_Lab_Mini_project.pdf). Feel free to expand the project to explore ideas of interest.

### Stage 1: Data exploration

### Ages of Athletes
Some ages are entered as <i>nan</i>.  <i>nan</i> is hard to work with so we will use a quick pandas command to remove these by converting the Table to a pandas dataframe,change <i>nan</i> to 0 and then convert the data back to a Table object.

In [ ]:
df = athletes.to_df() # Create pandas dataframe from Table object
df['Age'].fillna(0, inplace=True)
athletes = Table().from_df(df)
#df = df[0:0] # This erases the data in the Dataframe but leaves column headings

In [ ]:
df = df[0:0]
dfnew = athletes.to_df()
dfnew
type(dfnew)

### Stage 2: Time trends and comparative results

In [ ]:
# To examine combined data use this panda trick to overwrite athletes table with US & Norway data only
df = athletes.to_df() # Create pandas dataframe from Table object
df = df.loc[(df['Team'] == "United States") | (df['Team'] == "Norway" )] # Easy way to get 
athletes = Table().from_df(df) # Overwrite athletes Table object

In [ ]:
import time
localtime = time.asctime( time.localtime(time.time()) )
print("Submitted by: ", name, " on: ", localtime)