## Olympics Data mini-project
Temple Elements of Data Science
In this mini-project you will draw on your new found skills from Module 1 of the course, Have Fun!
The description of the mini-project and it's goals is given [here](https://sites.temple.edu/eds8/files/2022/09/Olympic_Lab_Mini_project.pdf)

In [ ]:
# Enter your name as a string
name = ...

In [ ]:
# Extra Python functionality to import
from datascience import *  # datascience Table 

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
# Fix for datascience plots
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

### Data Sets
Athletes: Olympic_Data/athlete_events.csv
Source: Kaggle https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

In [ ]:
datafile = "Olympic_Data/winter_athletes.csv"
athletes = Table.read_table(datafile).sort("Year",descending=True).where("Season","Winter")
athletes

## Mini-Project
Now develop your project to address goals given in the [linked document](https://sites.temple.edu/eds8/files/2022/09/Olympic_Lab_Mini_project.pdf). Feel free to expand the project to explore ideas of interest.

### Stage 1: Data exploration

### Ages of Athletes
Some ages are entered as <i>nan</i>.  <i>nan</i> is hard to work with as we saw in a previous lab. One way to think of this is <i>nan</i> is a very large number like infinity so if we use where to get ride of ages above any reasonable Olympic athletes age such as 99 we will remove the <i>nan</i> as below.

In [ ]:
age_athletes = athletes.where("Age",are.below(99)).where("Age",are.above(0))
age_athletes

### Stage 2: Time trends and comparative results

In [ ]:
# To examine combined data use this panda trick to overwrite athletes table with US & Norway data only
df = athletes.to_df() # Create pandas dataframe from Table object
df = df.loc[(df['Team'] == "United States") | (df['Team'] == "Norway" )] # Easy way to get 
athletes_NORUSA = Table().from_df(df) # Overwrite athletes Table object

### 7. Use a scatter to plot the number of athletes for each country versus the number of medals.
Use the below datascience Table approach to create a column for whether an athletes has a medal, True or False

In [ ]:
athletes_NORUSA=athletes_NORUSA.with_columns("Medal num",athletes_NORUSA.column("Medal")!="nan","Athlete Number",1)
athletes_NORUSA

In [ ]:
athletes_NORUSA.pivot("Medal num","Year")