## Olympics Data mini-project
Temple Elements of Data Science
In this mini-project you will draw on your new found skills from Module 1 of the course, Have Fun!
The description of the mini-project and it's goals is given [here](https://sites.temple.edu/eds8/files/2022/09/Olympic_Lab_Mini_project.pdf)

In [1]:
# Enter your name as a string
name = ...

In [2]:
# Extra Python functionality to import
from datascience import *  # datascience Table 

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
# Fix for datascience plots
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

### Data Sets
Athletes: Olympic_Data/athlete_events.csv
Source: Kaggle https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

In [3]:
datafile = "Olympic_Data/winter_athletes.csv"
athletes = Table.read_table(datafile).sort("Year",descending=True).where("Season","Winter")
athletes

ID   | Name                               | Sex  | Age  | Height | Weight | Team          | NOC  | Games       | Year | Season | City  | Sport            | Event                              | Medal
16   | Juhamatti Tapio Aaltonen           | M    | 28   | 184    | 85     | Finland       | FIN  | 2014 Winter | 2014 | Winter | Sochi | Ice Hockey       | Ice Hockey Men's Ice Hockey        | Bronze
126  | Forough Abbasi                     | F    | 20   | 164    | 58     | Iran          | IRI  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Slalom       | nan
145  | Jeremy Abbott                      | M    | 28   | 175    | 70     | United States | USA  | 2014 Winter | 2014 | Winter | Sochi | Figure Skating   | Figure Skating Men's Singles       | nan
145  | Jeremy Abbott                      | M    | 28   | 175    | 70     | United States | USA  | 2014 Winter | 2014 | Winter | Sochi | Figure Skating   | Figure Skating Mixed Team          | Bronze
463  | Agnese boltia                      | F    | 17   | 166    | 60     | Latvia        | LAT  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Super G      | nan
463  | Agnese boltia                      | F    | 17   | 166    | 60     | Latvia        | LAT  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Giant Slalom | nan
463  | Agnese boltia                      | F    | 17   | 166    | 60     | Latvia        | LAT  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Slalom       | nan
532  | Iason Abramashvili                 | M    | 25   | 176    | 82     | Georgia       | GEO  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Men's Giant Slalom   | nan
532  | Iason Abramashvili                 | M    | 25   | 176    | 82     | Georgia       | GEO  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Men's Slalom         | nan
534  | Oleksandr Volodymyrovych Abramenko | M    | 25   | 180    | 82     | Ukraine       | UKR  | 2014 Winter | 2014 | Winter | Sochi | Freestyle Skiing | Freestyle Skiing Men's Aerials     | nan
... (48554 rows omitted)

## Mini-Project
Now develop your project to address goals given in the [linked document](https://sites.temple.edu/eds8/files/2022/09/Olympic_Lab_Mini_project.pdf). Feel free to expand the project to explore ideas of interest.

### Stage 1: Data exploration

### Ages of Athletes
Some ages are entered as <i>nan</i>.  <i>nan</i> is hard to work with so we will use a quick pandas command to remove these by converting the Table to a pandas dataframe,change <i>nan</i> to 0 and then convert the data back to a Table object.

In [4]:
df = athletes.to_df() # Create pandas dataframe from Table object
df['Age'].fillna(0, inplace=True)
athletes = Table().from_df(df)
#df = df[0:0] # This erases the data in the Dataframe but leaves column headings

In [5]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
1,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,nan
2,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,Sochi,Figure Skating,Figure Skating Men's Singles,nan
3,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze
4,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,131150,Szczepan Wiktor Witkowski,M,25.0,NaN,NaN,Poland,POL,1924 Winter,1924,Winter,Chamonix,Military Ski Patrol,Military Ski Patrol Men's Military Ski Patrol,nan
48560,131150,Szczepan Wiktor Witkowski,M,25.0,NaN,NaN,Poland,POL,1924 Winter,1924,Winter,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,nan
48561,131649,Zbigniew Czesaw Woycicki,M,21.0,NaN,NaN,Poland,POL,1924 Winter,1924,Winter,Chamonix,Military Ski Patrol,Military Ski Patrol Men's Military Ski Patrol,nan
48562,135051,Duan Zinaja,M,30.0,NaN,NaN,Yugoslavia,YUG,1924 Winter,1924,Winter,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,nan
48563,135051,Duan Zinaja,M,30.0,NaN,NaN,Yugoslavia,YUG,1924 Winter,1924,Winter,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,nan

### Stage 2: Time trends and comparative results

In [ ]:
# To examine combined data use this panda trick to overwrite athletes table with US & Norway data only
df = athletes.to_df() # Create pandas dataframe from Table object
df = df.loc[(df['Team'] == "United States") | (df['Team'] == "Norway" )] # Easy way to get 
athletes = Table().from_df(df) # Overwrite athletes Table object

##### Another approach is to use the Table `.append` method
See [Inferential Thinking](http://data8.org/datascience/_autosummary/datascience.tables.Table.append.html?highlight=append)

In [ ]:
import time
localtime = time.asctime( time.localtime(time.time()) )
print("Submitted by: ", name, " on: ", localtime)