# Potential Datasets 

#### Below are some datasets which could be used for Project 3.  Please feel free to find your own datasets as well if you have a particular interest or question.  Some great websites for dataset curation include: 


1. https://www.kaggle.com/
2. https://data.world/
3. https://opendata.cern.ch/
4. https://www.sciencebase.gov/catalog/
5. https://data.neonscience.org/

In [1]:
# Import Numpy and Datascience modules.
import numpy as np
import pandas as pd
from datascience import *

# Plotting modules
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', UserWarning)
# Fix for datascience collections Iterable
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

### Biology Datasets
includes: Palmer Penguins, Ecological Footprint, & kidney disease.

##### Palmer Penguins
See: https://allisonhorst.github.io/palmerpenguins/

In [2]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv"
penguin = Table.read_table(url)
penguin

species | island    | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g | sex
Adelie  | Torgersen | 39.1           | 18.7          | 181               | 3750        | MALE
Adelie  | Torgersen | 39.5           | 17.4          | 186               | 3800        | FEMALE
Adelie  | Torgersen | 40.3           | 18            | 195               | 3250        | FEMALE
Adelie  | Torgersen | nan            | nan           | nan               | nan         | nan
Adelie  | Torgersen | 36.7           | 19.3          | 193               | 3450        | FEMALE
Adelie  | Torgersen | 39.3           | 20.6          | 190               | 3650        | MALE
Adelie  | Torgersen | 38.9           | 17.8          | 181               | 3625        | FEMALE
Adelie  | Torgersen | 39.2           | 19.6          | 195               | 4675        | MALE
Adelie  | Torgersen | 34.1           | 18.1          | 193               | 3475        | nan
Adelie  | Torgersen | 42             | 20.2          | 190               | 4250        | nan
... (334 rows omitted)

##### Ecological Footprint 
This dataset measures the amount of ecological resources are used from each country in the years 1961 to 2016.  More information can be found at: https://data.world/footprint/nfa-2019-edition

In [3]:
url = 'data/NFA 2019 public_data.csv'
ecoFootprint = Table.read_table(url)
ecoFootprint

/opt/conda/lib/python3.10/site-packages/datascience/tables.py:179: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv(filepath_or_buffer, *args, **vargs)

country | year | country_code | record       | crop_land   | grazing_land | forest_land | fishing_ground | built_up_land | carbon      | total       | QScore
Armenia | 1992 | 1            | AreaPerCap   | 0.140292    | 0.199546     | 0.097188051 | 0.0368885      | 0.0293199     | 0           | 0.503235    | 3A
Armenia | 1992 | 1            | AreaTotHA    | 483000      | 687000       | 334600      | 127000         | 100943        | 0           | 1.73254e+06 | 3A
Armenia | 1992 | 1            | BiocapPerCap | 0.159804    | 0.135261     | 0.084003213 | 0.0137421      | 0.0333978     | 0           | 0.426209    | 3A
Armenia | 1992 | 1            | BiocapTotGHA | 550176      | 465678       | 289207.1078 | 47311.6        | 114982        | 0           | 1.46736e+06 | 3A
Armenia | 1992 | 1            | EFConsPerCap | 0.38751     | 0.189462     | 1.26E-06    | 0.00416483     | 0.0333978     | 1.11409     | 1.72863     | 3A
Armenia | 1992 | 1            | EFConsTotGHA | 1.33412e+06 | 652282       | 4.328086713 | 14338.7        | 114982        | 3.83561e+06 | 5.95134e+06 | 3A
Armenia | 1992 | 1            | EFProdPerCap | 0.159804    | 0.135261     | 0           | 0.00126587     | 0.0333978     | 1.07463     | 1.40436     | 3A
Armenia | 1992 | 1            | EFProdTotGHA | 550176      | 465678       | 0           | 4358.14        | 114982        | 3.69975e+06 | 4.83494e+06 | 3A
Armenia | 1993 | 1            | AreaPerCap   | 0.146591    | 0.204573     | 0.099432069 | 0.0377628      | 0.0293199     | 0           | 0.517679    | 3A
Armenia | 1993 | 1            | AreaTotHA    | 493000      | 688000       | 334400      | 127000         | 98605.7       | 0           | 1.74101e+06 | 3A
... (72176 rows omitted)

##### Chronic Kidney Disease 
More information on columns at: https://archive.ics.uci.edu/ml/datasets/Chronic_Kidney_Disease

In [ ]:
url = 'data/kidney_disease.csv'
kidneyDisease = Table.read_table(url)
kidneyDisease

__________________________

### Chemistry Datasets
including pKa, High Entropy Alloys, & Periodic Table

Philadelphia Air Quality Measurements (Ozone, PM10, Carbon monoxide)

In [3]:
url = "https://opendata.arcgis.com/api/v3/datasets/3899a065577747fbb824f0a21afc2e7c_0/downloads/data?format=csv&spatialRefId=4326"
air = Table.read_table(url)
air

X        | Y       | OBJECTID | SITE_NAME | SITE_ID   | SITE_TYPE | SITE_ADDRESS                                  | CARBON_MONOXIDE_PPM | NITROGEN_DIOXIDE_PPM | OZONE_PPM | PM10_UG_M3 | PM25_UG_M3 | SULFUR_DIOXIDE_PPB | SAMPLE_TIMESTAMP       | SAMPLE_HOUR
-74.9852 | 40.0542 | 589133   | TOR       | 421010075 | nan       | 4901 GRANT AVENUE & JAMES STREET              | 0.443727            | 12.2076              | nan       | nan        | 4.77341    | nan                | 2022/11/16 10:00:00+00 | 5 - 6
-75.1869 | 39.9229 | 589134   | RIT       | 421010055 | nan       | 24TH ST. & RITNER ST., PHILADELPHIA, PA 19145 | nan                 | nan                  | nan       | nan        | 4.1095     | 0.693039           | 2022/11/16 10:00:00+00 | 5 - 6
-75.1424 | 39.9603 | 589135   | FAB       | 421010057 | nan       | 240 SPRING GARDEN STREET                      | nan                 | nan                  | nan       | nan        | 4.50408    | nan                | 2022/11/16 10:00:00+00 | 5 - 6
-75.0808 | 39.9914 | 589136   | NEW       | 421010048 | nan       | 3900 RICHMOND                                 | 0.17932             | 18.1878              | 11.8605   | 8.04242    | 6.09648    | 0.693979           | 2022/11/16 10:00:00+00 | 5 - 6
-75.2072 | 39.9888 | 589441   | MON       | 421010076 | nan       | 4100 MONTGOMERY DRIVE                         | 0.309233            | 34.1657              | nan       | nan        | 3.35074    | nan                | 2022/11/16 10:00:00+00 | 5 - 6
-75.0977 | 40.0089 | 589442   | LABP      | 421010004 | nan       | EAST LYCOMING ST., PHILADELPHIA, PA 19124     | nan                 | nan                  | 12.6554   | nan        | 4.40486    | nan                | 2022/11/16 10:00:00+00 | 5 - 6
-75.0119 | 40.0764 | 589443   | NEA       | 421010024 | nan       | GRANT AVENUE & ASHTON ROAD, PHILADELPHIA, PA  | nan                 | nan                  | 17.1751   | nan        | nan        | nan                | 2022/11/16 10:00:00+00 | 5 - 6

##### Molecular acid dissociation constant, pKa data
See: https://github.com/samplchallenges/SAMPL7/tree/master/physical_property/pKa
SMILES is a representaion of chemical structure.

In [ ]:
url = "https://raw.githubusercontent.com/robraddi/GP-SAMPL7/main/pKaDatabase/OChem/ochem0-2000.csv"
pka = Table.read_table(url)
pka

##### Periodic Table 
More information on columns: https://www.kaggle.com/datasets/berkayalan/chemical-periodic-table-elements?select=chemical_elements.csv

In [ ]:
url = 'data/chemical_elements.csv'
ptdf = pd.read_csv(url, sep = ';')
pt = Table.from_df(ptdf)
pt

##### High Entropy Alloys
https://www.sciencedirect.com/science/article/pii/S2352340921006302?via%3Dihub

In [ ]:
url = 'data/high_entropy_alloys.csv'
alloys = Table.read_table(url)
alloys

##### Wine Quality Dataset 
More information at https://archive.ics.uci.edu/ml/datasets/wine+quality

In [ ]:
url1 = 'data/winequality-red.csv'
url2 = 'data/winequality-white.csv'
df1 = pd.read_csv(url1, sep = ';')
df1.loc[:, 'type'] = ['red' for x in range(len(df1))]
df2 = pd.read_csv(url2, sep = ';')
df2.loc[:, 'type'] = ['white' for x in range(len(df2))]
wine = Table.from_df(pd.concat([df1, df2]))
wine

________________________________________________________________

### Physics datasets
including exoplanets, Near Earth Objects (NEO), & CERN Electron Collision data.

##### Exoplanets observed by Kepler telescope
https://exoplanets.nasa.gov/keplerscience/

In [ ]:
url = "https://raw.githubusercontent.com/DataScienceTempleFirst/code-cod/main/kepler.csv"
exoplanets = Table.read_table(url)
exoplanets

##### Near Earth Objects 
Data is found at https://cneos.jpl.nasa.gov/ca/, but more information about the project can be found here: https://cneos.jpl.nasa.gov/

In [ ]:
url = 'data/cneos_closeapproach_data.csv'
neo = Table.read_table(url)
neo

##### CERN Electron Collision Data 
Data was downloaded from https://www.kaggle.com/datasets/fedesoriano/cern-electron-collision-data but was modified from the original data https://opendata.cern.ch/record/304

In [ ]:
url = 'data/dielectron.csv'
electron = Table.read_table(url)
electron

________________

### Public Health datasets
including Philadelphia vaccination rates, global vaccination rates, & Hepatitis C diagnosis.

##### Philadelphia vaccination rates by zip code
COVID-19 Vaccinations

Shows distribution counts of first and second dose, as well as total dose information for all vaccinations performed by the health department. Also provides vaccinations by census tract, ZIP code, age, race, and sex. Vaccinations include residents and non-residents of Philadelphia. Updates daily.
See: https://www.opendataphilly.org/dataset/covid-vaccinations/resource/87ac5b4e-8491-41e3-8cf0-5bfebba2e3a0

In [ ]:
url = "https://phl.carto.com/api/v2/sql?filename=covid_vaccines_by_zip&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20covid_vaccines_by_zip"
phillyVax = Table.read_table(url)
phillyVax

In [ ]:
## might be also useful to have population for looking at Philly Vaccination Rates
url = "https://raw.githubusercontent.com/DataScienceTempleFirst/code-cod/main/PA_zip_pop.csv"
paPop = Table.read_table(url)
paPop.sort("pop",descending=True)
paPop.where('county','Philadelphia')

##### COVID Vaccination data by country

In [ ]:
url = "https://raw.githubusercontent.com/DataScienceTempleFirst/code-cod/main/COVID_VAXDATA.csv"
globalVax = Table.read_table(url)
globalVax

##### Hepatitis C Diagnosis Datasets 
Heptatitis C is a disease caused by the Hepatitus C virus.  More information on the dataset can be found: https://archive.ics.uci.edu/ml/datasets/HCV+data

In [ ]:
url = 'data/HepatitisCdata.csv'
hepC = Table.read_table(url)
hepC

_____________________________________________________________________________________________

###  Other datasets
including Philadelphia Graduation Rates & Jeopardy

##### Philadelphia Open Data School Graduation Rates
This longitudinal open data file includes information about the graduation rates for schools broken out by: graduation rate type (four-year, five-year, or six-year), demographic category (EL status, IEP status, Economically Disadvantaged Status, Gender, or Ethnicity), and ninth-grade cohort. Students are attributed to the last school at which they actively attended in the respective graduation window, which ends on September 30 each year. Students are classified as EL, as having an IEP, and/or economically disadvantaged if they were designated as such at any point during their high school career.
see: https://www.philasd.org/performance/programsservices/open-data/school-performance/#school_graduation_rates

In [5]:
url = "https://cdn.philasd.org/offices/performance/Open_Data/School_Performance/Graduation_Rates/SDP_Graduation_Rates_School_S_2022-05-23.csv"
grad = Table.read_table(url)
grad

cohort    | schoolid_ulcs | schoolname               | sector   | rate_type              | group                      | subgroup                       | denom | num  | score
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | All Students               | All Students                   | 281   | 203  | 72.24
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Economically Disadvantaged | Economically Disadvantaged     | 211   | 153  | 72.51
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Economically Disadvantaged | Not Economically Disadvantaged | 70    | 50   | 71.43
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | ELL                        | EL                             | 37    | 24   | 64.86
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | ELL                        | Non-EL                         | 244   | 179  | 73.36
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Ethnicity                  | Asian                          | 13    | 10   | 76.92
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Ethnicity                  | Black/African American         | 253   | 182  | 71.94
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Ethnicity                  | Hispanic/Latino                | 6     | s    | s
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Ethnicity                  | Multi Racial/Other             | 6     | s    | s
2010-2011 | 1010          | John Bartram High School | District | 4-Year Graduation Rate | Ethnicity                  | White                          | 3     | s    | s
... (23011 rows omitted)

##### Jeopardy
see: https://www.jeopardy.com

In [ ]:
contestant = "https://raw.githubusercontent.com/anuparna/jeopardy/master/dataset/contestants.csv"
locations =  "https://raw.githubusercontent.com/anuparna/jeopardy/master/dataset/locations.csv"
results =  "https://raw.githubusercontent.com/anuparna/jeopardy/master/dataset/final_results.csv"
loc = Table.read_table(locations)
contest = Table.read_table(contestant)
outcome = Table.read_table(results)
outcome