## Functions

In [1]:
# Our first function definition

def double(x):
    """ Double x """
    return 2*x

In [2]:
double(10)

20

In [30]:
import numpy as np
# Compute the ratio as a percentage

def per_change(x,y):
    """ Takes ratio of x to y and
    converts to a % change by subtracting 1
     >>> per_change(20, 16)
    0.2500
    
    """
    return np.round(x/y-1,4)

In [31]:
per_change(3.89,3.69)

0.0542

#### Now use apply to compute new Table column

In [7]:
from datascience import *
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/asrh/nc-est2020-agesex-res.csv'
full_census_table = Table.read_table(data)
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2020').
partial_census_table=partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2020', '2020')
partial_census_table

SEX  | AGE  | 2010    | 2020
0    | 0    | 3951495 | 3735010
0    | 1    | 3957904 | 3773884
0    | 2    | 4090799 | 3853025
0    | 3    | 4111869 | 3921526
0    | 4    | 4077511 | 4017847
0    | 5    | 4064653 | 4054336
0    | 6    | 4073031 | 4040169
0    | 7    | 4043100 | 4029753
0    | 8    | 4025624 | 4034785
0    | 9    | 4125413 | 4078668
... (296 rows omitted)

In [32]:
census=partial_census_table.where(0,0).where('AGE',are.below(99))
census=census.with_columns(
    "% change",census.apply(per_change,'2020','2010')
)
census.set_format('% change',PercentFormatter)

SEX  | AGE  | 2010    | 2020    | % change
0    | 0    | 3951495 | 3735010 | -5.48%
0    | 1    | 3957904 | 3773884 | -4.65%
0    | 2    | 4090799 | 3853025 | -5.81%
0    | 3    | 4111869 | 3921526 | -4.63%
0    | 4    | 4077511 | 4017847 | -1.46%
0    | 5    | 4064653 | 4054336 | -0.25%
0    | 6    | 4073031 | 4040169 | -0.81%
0    | 7    | 4043100 | 4029753 | -0.33%
0    | 8    | 4025624 | 4034785 | 0.23%
0    | 9    | 4125413 | 4078668 | -1.13%
... (89 rows omitted)