### Hypothesis Testing
See Inferential Thinking: https://inferentialthinking.com/chapters/12/1/AB_Testing.html

In [1]:
# Import Numpy and Datascience modules.
import numpy as np
from datascience import *
import pandas as pd

# Plotting 
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', UserWarning)

#### Concussion in sports data
See: http://users.stat.ufl.edu/~winner/data/concussion.txt

In [50]:
url = "http://users.stat.ufl.edu/~winner/data/concussion.dat"
data_df = pd.read_csv(url, sep="\s+",header = None)
data_df.columns = ["gender","sport","year","concussion","number"] #Need column labels
data = Table.from_df(data_df)
data

gender | sport    | year | concussion | number
Female | Soccer   | 1997 | 0          | 24930
Female | Soccer   | 1997 | 1          | 51
Female | Soccer   | 1998 | 0          | 22887
Female | Soccer   | 1998 | 1          | 47
Female | Soccer   | 1999 | 0          | 27107
Female | Soccer   | 1999 | 1          | 60
Female | Lacrosse | 1997 | 0          | 8750
Female | Lacrosse | 1997 | 1          | 12
Female | Lacrosse | 1998 | 0          | 7115
Female | Lacrosse | 1998 | 1          | 7
... (50 rows omitted)

In [48]:
group_data = data.drop("gender","year").group(["sport","concussion"],np.mean)
group_data

sport             | concussion | number mean
Basketball        | 0          | 32727.8
Basketball        | 1          | 20.1667
Gymnastics        | 0          | 2239
Gymnastics        | 1          | 0.166667
Lacrosse          | 0          | 9919.17
Lacrosse          | 1          | 12.8333
Soccer            | 0          | 25092.8
Soccer            | 1          | 43.1667
Softball/Baseball | 0          | 54523.7
Softball/Baseball | 1          | 16.6667

In [62]:
ratio_S = group_data.where("sport","Soccer").where(1,1).column(2).take(0)/group_data.where("sport","Soccer").where(1,0).column(2).take(0)*100
ratio_L = group_data.where("sport","Lacrosse").where(1,1).column(2).take(0)/group_data.where("sport","Lacrosse").where(1,0).column(2).take(0)*100
ratio_S - ratio_L

0.042648721729394296

In [60]:
group_data.where("sport","Soccer").where(1,1).column(2).take(0)

43.166666666666664

In [63]:
def diff_means(data):
    group_data = data.drop("gender","year").group(["sport","concussion"],np.mean)
    group_data
    # Soccer vs. Lacrosse
    ratio_S = group_data.where("sport","Soccer").where(1,1).column(2).take(0)/group_data.where("sport","Soccer").where(1,0).column(2).take(0)*100
    ratio_L = group_data.where("sport","Lacrosse").where(1,1).column(2).take(0)/group_data.where("sport","Lacrosse").where(1,0).column(2).take(0)*100
    ratio_S - ratio_L
    return ratio_S - ratio_L
diff_means(data)

0.042648721729394296

In [45]:
data.sample(with_replacement = False).column(3)

array([1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0])

In [74]:
reps = 1000
for 1 in np.arange(reps):
    shuffled_label = data.sample(with_replacement = False).column(3)
    combined = data.with_column("shuffled",shuffled_label)
    sdata=combined.drop("gender","year","concussion").group(["sport","shuffled"],np.mean).relabel(1,"concussion")
    diff_means(sdata)

150.862315550497

In [89]:
data.drop("gender","year").with_column("S_L",["Soccer","Lacrosse"])

/Users/jms/.conda/envs/MDQUANT/lib/python3.7/site-packages/datascience/predicates.py:261: SyntaxWarning: Do not pass an array or list to a predicate.                 If you are trying to find rows where two columns are the                 same, use table.where('c', are.equal_to, table.column('d'))                instead of table.where('c', are.equal_to(table.column('d'))).
  SyntaxWarning)

sport | concussion | number

In [104]:
x for x in data.column("sport")

SyntaxError: invalid syntax (<ipython-input-104-db9d8d47bad7>, line 1)

In [91]:
data.drop("gender","year").where("sport",["Soccer","Lacrosse"])

/Users/jms/.conda/envs/MDQUANT/lib/python3.7/site-packages/datascience/predicates.py:261: SyntaxWarning: Do not pass an array or list to a predicate.                 If you are trying to find rows where two columns are the                 same, use table.where('c', are.equal_to, table.column('d'))                instead of table.where('c', are.equal_to(table.column('d'))).
  SyntaxWarning)

sport | concussion | number

In [100]:
data.column("sport") == "Soccer" & data.column("sport") == "Lacrosse"

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''