### Datascience Table

|Method name|Value|
|-|-|
|`read_table(url)`|create table object and read data from url or file |
|`sort(col,descending=True`|sort table by column labeled/numbered col|
|`labels`|list column labels|
|`join(col1,table2,col2)`|join two tables using col1 from first joined by matching col2 in table2|
|`where(col,value)`|select rows where col = value|

In [1]:
from datascience import *  # Import new data manipulation functionality

In [2]:
url = "https://phl.carto.com/api/v2/sql?filename=covid_vaccines_by_zip&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20covid_vaccines_by_zip"

data = Table.read_table(url) # Create datascience Table object
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19138    | 3131                 | 14787            | 2022-01-24 16:00:02
19125    | 4408                 | 15057            | 2022-01-24 16:00:02
19144    | 5007                 | 20737            | 2022-01-24 16:00:02
19152    | 4620                 | 19898            | 2022-01-24 16:00:02
19153    | 1143                 | 6039             | 2022-01-24 16:00:02
19133    | 3414                 | 12469            | 2022-01-24 16:00:02
19126    | 1717                 | 7595             | 2022-01-24 16:00:02
19119    | 3743                 | 15589            | 2022-01-24 16:00:02
19120    | 8286                 | 33592            | 2022-01-24 16:00:02
19128    | 4160                 | 18710            | 2022-01-24 16:00:02
... (36 rows omitted)

In [3]:
data.sort(1,descending=True) # the Table sort method, columns are labelled 0,1,2,...

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19149    | 9319                 | 32041            | 2022-01-24 16:00:02
19104    | 9131                 | 28520            | 2022-01-24 16:00:02
19120    | 8286                 | 33592            | 2022-01-24 16:00:02
19148    | 8071                 | 33880            | 2022-01-24 16:00:02
19124    | 7532                 | 32926            | 2022-01-24 16:00:02
19147    | 7244                 | 26936            | 2022-01-24 16:00:02
19111    | 7144                 | 34078            | 2022-01-24 16:00:02
19143    | 7017                 | 31798            | 2022-01-24 16:00:02
19134    | 6971                 | 27838            | 2022-01-24 16:00:02
19146    | 6629                 | 27282            | 2022-01-24 16:00:02
... (36 rows omitted)

In [4]:
data.labels # Displays labels

('zip_code', 'partially_vaccinated', 'fully_vaccinated', 'etl_timestamp')

In [13]:
url = "https://raw.githubusercontent.com/DataScienceTempleFirst/code-cod/main/PA_zip_pop.csv"
zipdata = Table.read_table(url)
zipdata.sort("pop",descending=True)
zipdata.where('zip',19138)

zip   | city         | county       | pop
19138 | Philadelphia | Philadelphia | 32766

In [6]:
data=data.join('zip_code',zipdata,'zip') # Join two tables to get population
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop
19102    | 1476                 | 3824             | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 5147
19103    | 5918                 | 16705            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 24214
19104    | 9131                 | 28520            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 53560
19106    | 2504                 | 7923             | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 12592
19107    | 3570                 | 10644            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 14526
19111    | 7144                 | 34078            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 68113
19114    | 3358                 | 16531            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 31668
19115    | 3573                 | 18550            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 35346
19116    | 3182                 | 15310            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 34747
19118    | 1191                 | 5128             | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 10884
... (36 rows omitted)

#### Add column with % vaxed

In [7]:
data = data.with_column('percent vax',data.column('fully_vaccinated')/data.column('pop')).sort('percent vax',descending=True)

In [8]:
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop   | percent vax
19102    | 1476                 | 3824             | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 5147  | 0.742957
19107    | 3570                 | 10644            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 14526 | 0.732755
19147    | 7244                 | 26936            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 38472 | 0.700146
19146    | 6629                 | 27282            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 39282 | 0.694517
19103    | 5918                 | 16705            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 24214 | 0.68989
19148    | 8071                 | 33880            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 52259 | 0.648309
19130    | 5685                 | 17474            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 27093 | 0.644964
19106    | 2504                 | 7923             | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 12592 | 0.629209
19145    | 6162                 | 28537            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 46052 | 0.619669
19123    | 3496                 | 10735            | 2022-01-24 16:00:02 | Philadelphia | Philadelphia | 17351 | 0.618696
... (36 rows omitted)

In [14]:
url = "https://phl.carto.com/api/v2/sql?filename=covid_vaccines_by_zip&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20covid_vaccines_by_zip"

data = Table.read_table(url) # Create datascience Table oject
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19138    | 3147                 | 14836            | 2022-01-25 16:00:02
19125    | 4407                 | 15101            | 2022-01-25 16:00:02
19144    | 5030                 | 20783            | 2022-01-25 16:00:02
19152    | 4623                 | 19969            | 2022-01-25 16:00:02
19153    | 1149                 | 6060             | 2022-01-25 16:00:02
19133    | 3408                 | 12500            | 2022-01-25 16:00:02
19126    | 1709                 | 7609             | 2022-01-25 16:00:02
19119    | 3738                 | 15663            | 2022-01-25 16:00:02
19120    | 8310                 | 33702            | 2022-01-25 16:00:02
19128    | 4191                 | 18826            | 2022-01-25 16:00:02
... (36 rows omitted)