### Datascience Table

|Method name|Value|
|-|-|
|`read_table(url)`|create table object and read data from url or file |
|`sort(col,descending=True`|sort table by column labeled/numbered col|
|`labels`|list column labels|
|`join(col1,table2,col2)`|join two tables using col1 from first joined by matching col2 in table2|
|`where(col,value)`|select rows where col = value|

In [1]:
from datascience import *  # Import new data manipulation functionality
import pandas as pd        # Pandas provides greater control over Data handling

In [2]:
url = "https://phl.carto.com/api/v2/sql?filename=covid_vaccines_by_zip&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20covid_vaccines_by_zip"
data_db = pd.read_csv(url)
data = Table.from_df(data_db) # Create datascience Table object
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19138    | 3623                 | 17304            | 2022-02-09 16:00:01
19125    | 5040                 | 16352            | 2022-02-09 16:00:01
19144    | 5665                 | 23325            | 2022-02-09 16:00:01
19152    | 5261                 | 22347            | 2022-02-09 16:00:01
19153    | 1391                 | 7188             | 2022-02-09 16:00:01
19133    | 3553                 | 13264            | 2022-02-09 16:00:01
19126    | 2015                 | 9019             | 2022-02-09 16:00:01
19119    | 4513                 | 18292            | 2022-02-09 16:00:01
19120    | 9098                 | 37848            | 2022-02-09 16:00:01
19128    | 5816                 | 24057            | 2022-02-09 16:00:01
... (36 rows omitted)

In [3]:
data.sort("zip_code",descending=True) # the Table sort method, columns are labelled 0,1,2,...

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19154    | 3716                 | 20267            | 2022-02-09 16:00:01
19153    | 1391                 | 7188             | 2022-02-09 16:00:01
19152    | 5261                 | 22347            | 2022-02-09 16:00:01
19151    | 3449                 | 16905            | 2022-02-09 16:00:01
19150    | 2731                 | 14351            | 2022-02-09 16:00:01
19149    | 10411                | 35259            | 2022-02-09 16:00:01
19148    | 9112                 | 36196            | 2022-02-09 16:00:01
19147    | 8858                 | 29317            | 2022-02-09 16:00:01
19146    | 8104                 | 29620            | 2022-02-09 16:00:01
19145    | 7071                 | 30473            | 2022-02-09 16:00:01
... (36 rows omitted)

In [4]:
data.labels # Displays labels

('zip_code', 'partially_vaccinated', 'fully_vaccinated', 'etl_timestamp')

In [7]:
url = "https://raw.githubusercontent.com/DataScienceTempleFirst/code-cod/main/PA_zip_pop.csv"
zipdata = Table.read_table(url)
zipdata.sort("pop",descending=False)

zip   | city            | county       | pop
18936 | Montgomeryville | Montgomery   | 0
19375 | Unionville      | Chester      | 0
19112 | Philadelphia    | Philadelphia | 0
19109 | Philadelphia    | Philadelphia | 0
17822 | Danville        | Montour      | 0
18195 | Allentown       | Lehigh       | 0
18068 | Old Zionsville  | Lehigh       | 0
18046 | East Texas      | Lehigh       | 0
18016 | Bethlehem       | Northampton  | 0
19442 | Kimberton       | Chester      | 0
... (1782 rows omitted)

In [8]:
zipdata.where('zip',19138)

zip   | city         | county       | pop
19138 | Philadelphia | Philadelphia | 32766

In [9]:
data=data.join('zip_code',zipdata,'zip') # Join two tables to get population
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop
19102    | 1741                 | 4228             | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 5147
19103    | 6871                 | 18255            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 24214
19104    | 10858                | 31258            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 53560
19106    | 3001                 | 8809             | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 12592
19107    | 4081                 | 11452            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 14526
19111    | 8269                 | 39038            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 68113
19114    | 3823                 | 18859            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 31668
19115    | 4092                 | 21859            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 35346
19116    | 3909                 | 18820            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 34747
19118    | 1829                 | 6795             | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 10884
... (36 rows omitted)

#### Add column with % vaxed

In [10]:
data = data.with_column('percent vax',data.column('fully_vaccinated')/data.column('pop')*100).sort('percent vax',descending=True)

In [11]:
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop   | percent vax
19102    | 1741                 | 4228             | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 5147  | 82.1449
19107    | 4081                 | 11452            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 14526 | 78.8379
19147    | 8858                 | 29317            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 38472 | 76.2035
19146    | 8104                 | 29620            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 39282 | 75.4035
19103    | 6871                 | 18255            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 24214 | 75.3903
19130    | 6941                 | 19545            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 27093 | 72.1404
19106    | 3001                 | 8809             | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 12592 | 69.9571
19148    | 9112                 | 36196            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 52259 | 69.2627
19123    | 4075                 | 11696            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 17351 | 67.4082
19127    | 1151                 | 3879             | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 5760  | 67.3438
... (36 rows omitted)

In [12]:
data.where(0,19122)

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop   | percent vax
19122    | 3314                 | 12602            | 2022-02-09 16:00:01 | Philadelphia | Philadelphia | 21666 | 58.1649