### Datascience Table

|Method name|Value|
|-|-|
|`read_table(url)`|create table object and read data from url or file |
|`sort(col,descending=True`|sort table by column labeled/numbered col|
|`labels`|list column labels|
|`join(col1,table2,col2)`|join two tables using col1 from first joined by matching col2 in table2|
|`where(col,value)`|select rows where col = value|

In [1]:
from datascience import *  # Import new data manipulation functionality
import pandas as pd        # pandas provides greater control over Data handling

In [2]:
url = "https://phl.carto.com/api/v2/sql?filename=covid_vaccines_by_zip&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20covid_vaccines_by_zip"
data_db = pd.read_csv(url) # Read data with pandas
data = Table.from_df(data_db) # Create datascience Table object
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19138    | 3147                 | 14836            | 2022-01-25 16:00:02
19125    | 4407                 | 15101            | 2022-01-25 16:00:02
19144    | 5030                 | 20783            | 2022-01-25 16:00:02
19152    | 4623                 | 19969            | 2022-01-25 16:00:02
19153    | 1149                 | 6060             | 2022-01-25 16:00:02
19133    | 3408                 | 12500            | 2022-01-25 16:00:02
19126    | 1709                 | 7609             | 2022-01-25 16:00:02
19119    | 3738                 | 15663            | 2022-01-25 16:00:02
19120    | 8310                 | 33702            | 2022-01-25 16:00:02
19128    | 4191                 | 18826            | 2022-01-25 16:00:02
... (36 rows omitted)

In [3]:
data.sort(1,descending=True) # the Table sort method, columns are labelled 0,1,2,...

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19149    | 9334                 | 32122            | 2022-01-25 16:00:02
19104    | 9237                 | 28689            | 2022-01-25 16:00:02
19120    | 8310                 | 33702            | 2022-01-25 16:00:02
19148    | 8091                 | 33941            | 2022-01-25 16:00:02
19124    | 7553                 | 33034            | 2022-01-25 16:00:02
19147    | 7277                 | 27063            | 2022-01-25 16:00:02
19111    | 7154                 | 34157            | 2022-01-25 16:00:02
19143    | 7033                 | 31854            | 2022-01-25 16:00:02
19134    | 6994                 | 27871            | 2022-01-25 16:00:02
19146    | 6636                 | 27409            | 2022-01-25 16:00:02
... (36 rows omitted)

In [4]:
data.labels # Displays labels

('zip_code', 'partially_vaccinated', 'fully_vaccinated', 'etl_timestamp')

In [5]:
url = "https://raw.githubusercontent.com/DataScienceTempleFirst/code-cod/main/PA_zip_pop.csv"
zipdata = Table.read_table(url)
zipdata.sort("pop",descending=True)

zip   | city         | county       | pop
19120 | Philadelphia | Philadelphia | 74060
19124 | Philadelphia | Philadelphia | 70304
19111 | Philadelphia | Philadelphia | 68113
19143 | Philadelphia | Philadelphia | 64630
17603 | Lancaster    | Lancaster    | 64242
19134 | Philadelphia | Philadelphia | 62087
19149 | Philadelphia | Philadelphia | 58055
15601 | Greensburg   | Westmoreland | 56955
19446 | Lansdale     | Montgomery   | 56720
19382 | West Chester | Chester      | 55036
... (1782 rows omitted)

In [6]:
zipdata.where('zip',19138)

zip   | city         | county       | pop
19138 | Philadelphia | Philadelphia | 32766

In [7]:
data=data.join('zip_code',zipdata,'zip') # Join two tables to get population
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop
19102    | 1475                 | 3862             | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 5147
19103    | 5954                 | 16826            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 24214
19104    | 9237                 | 28689            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 53560
19106    | 2493                 | 7967             | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 12592
19107    | 3575                 | 10745            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 14526
19111    | 7154                 | 34157            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 68113
19114    | 3387                 | 16546            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 31668
19115    | 3567                 | 18580            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 35346
19116    | 3192                 | 15387            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 34747
19118    | 1195                 | 5163             | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 10884
... (36 rows omitted)

#### Add column with % vaxed

In [8]:
data = data.with_column('percent vax',data.column('fully_vaccinated')/data.column('pop')).sort('percent vax',descending=True)

In [9]:
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp       | city         | county       | pop   | percent vax
19102    | 1475                 | 3862             | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 5147  | 0.75034
19107    | 3575                 | 10745            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 14526 | 0.739708
19147    | 7277                 | 27063            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 38472 | 0.703447
19146    | 6636                 | 27409            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 39282 | 0.69775
19103    | 5954                 | 16826            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 24214 | 0.694887
19148    | 8091                 | 33941            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 52259 | 0.649477
19130    | 5700                 | 17587            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 27093 | 0.649134
19106    | 2493                 | 7967             | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 12592 | 0.632703
19123    | 3490                 | 10772            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 17351 | 0.620829
19145    | 6171                 | 28573            | 2022-01-25 16:00:02 | Philadelphia | Philadelphia | 46052 | 0.620451
... (36 rows omitted)

In [10]:
url = "https://phl.carto.com/api/v2/sql?filename=covid_vaccines_by_zip&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20FROM%20covid_vaccines_by_zip"

data = Table.read_table(url) # Create datascience Table oject
data

zip_code | partially_vaccinated | fully_vaccinated | etl_timestamp
19138    | 3147                 | 14836            | 2022-01-25 16:00:02
19125    | 4407                 | 15101            | 2022-01-25 16:00:02
19144    | 5030                 | 20783            | 2022-01-25 16:00:02
19152    | 4623                 | 19969            | 2022-01-25 16:00:02
19153    | 1149                 | 6060             | 2022-01-25 16:00:02
19133    | 3408                 | 12500            | 2022-01-25 16:00:02
19126    | 1709                 | 7609             | 2022-01-25 16:00:02
19119    | 3738                 | 15663            | 2022-01-25 16:00:02
19120    | 8310                 | 33702            | 2022-01-25 16:00:02
19128    | 4191                 | 18826            | 2022-01-25 16:00:02
... (36 rows omitted)